# Importing Libraries

In [2]:
import yfinance as yf
import pandas_ta as ta
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Making the Dataset

In [28]:
folder_path = 'data/stock_technical_data/'

In [29]:
# Bank Nifty Stock Symbols
bank_nifty_stock_symbols = [
    "HDFCBANK.NS",
    "AXISBANK.NS",
    "ICICIBANK.NS",
    "HDFCBANK.NS",
    "KOTAKBANK.NS",
    "SBIN.NS",
    "INDUSINDBK.NS",
    "BANDHANBNK.NS",
    "FEDERALBNK.NS",
    "PNB.NS",
    "IDFCFIRSTB.NS",
    "BANKBARODA.NS",
    "AUBANK.NS"
]

In [30]:
start_date = "2017-01-01"
end_date = "2022-12-31"

In [31]:
def make_dataset(stock_symbol, start_date, end_date):

    stock_df = yf.download(stock_symbol, start=start_date, end=end_date)

    # Simple Moving Average (SMA)
    stock_df["SMA_9"] = ta.sma(stock_df["Close"], length = 9)
    stock_df["SMA_21"] = ta.sma(stock_df["Close"], length = 21)

    # Exponential Moving Average (EMA)
    stock_df["EMA_9"] = ta.ema(stock_df["Close"], length = 9)
    stock_df["EMA_21"] = ta.ema(stock_df["Close"], length = 21)

    # Double Exponential Moving Average (DEMA)
    stock_df["DEMA_9"] = ta.dema(stock_df["Close"], length = 9)
    stock_df["DEMA_21"] = ta.dema(stock_df["Close"], length = 21)

    # Moving Average Convergence Divergence (MACD)
    stock_df["MACD_Line"] = ta.macd(stock_df["Close"])["MACD_12_26_9"]
    stock_df["MACD_Signal_Line"] = ta.macd(stock_df["Close"])["MACDs_12_26_9"]

    # Relative Strength Index (RSI)
    stock_df["RSI_14"] = ta.rsi(stock_df["Close"], length = 14) 

    # Stochastic Oscillator
    stoch = ta.stoch(stock_df['High'], stock_df['Low'], stock_df['Close'], k=14, d=3)
    stock_df["Stoch_Oscillator_K"] = stoch["STOCHk_14_3_3"]
    stock_df["Stoch_Oscillator_D"] = stoch["STOCHd_14_3_3"]

    # Bollinger Bands / Standard Deviation
    bollinger_bands = ta.bbands(stock_df["Close"], length = 20, std = 2)
    stock_df['BB_middle'] = bollinger_bands['BBM_20_2.0']
    stock_df['BB_upper'] = bollinger_bands['BBU_20_2.0']
    stock_df['BB_lower'] = bollinger_bands['BBL_20_2.0']

    # Average Directional Index (ADX)
    adx = ta.adx(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)
    stock_df['ADX'] = adx['ADX_14']
    stock_df['ADX+DI'] = adx['DMP_14'] 
    stock_df['ADX-DI'] = adx['DMN_14']

    # Chaikin Money Flow (CMF)
    stock_df['CMF'] = ta.cmf(stock_df['High'], stock_df['Low'], stock_df['Close'], stock_df['Volume'], length = 21)

    # On Balance Volume (OBV)
    stock_df['OBV'] = ta.obv(stock_df['Close'], stock_df['Volume'])

    # Commodity Channel Index (CCI)
    stock_df['CCI'] = ta.cci(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 20)

    # Williams %R
    stock_df['Williams_%R'] = ta.willr(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)

    # Average True Range (ATR)
    stock_df['ATR'] = ta.atr(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)

    return stock_df

In [32]:
def fill_moving_averages(stock_df):
    moving_avg_columns = ['SMA_9', 'SMA_21', 'EMA_9', 'EMA_21', 'DEMA_9', 'DEMA_21']
    
    for col in moving_avg_columns:
        stock_df[col] = stock_df[col].fillna(stock_df[col].expanding().mean())
    
    return stock_df

In [33]:

for stock_symbol in bank_nifty_stock_symbols:
    stock_df = make_dataset(stock_symbol, start_date, end_date)
    print("Shape of the dataset: ", stock_df.shape)
    stock_df.to_csv(f"{folder_path}{stock_symbol}.csv")
    print(f"Data for {stock_symbol} stored in {folder_path}{stock_symbol}.csv")

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for HDFCBANK.NS stored in data/stock_technical_data/HDFCBANK.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for AXISBANK.NS stored in data/stock_technical_data/AXISBANK.NS.csv

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for ICICIBANK.NS stored in data/stock_technical_data/ICICIBANK.NS.csv
Shape of the dataset:  (1484, 28)
Data for HDFCBANK.NS stored in data/stock_technical_data/HDFCBANK.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for KOTAKBANK.NS stored in data/stock_technical_data/KOTAKBANK.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for SBIN.NS stored in data/stock_technical_data/SBIN.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for INDUSINDBK.NS stored in data/stock_technical_data/INDUSINDBK.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1178, 28)
Data for BANDHANBNK.NS stored in data/stock_technical_data/BANDHANBNK.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for FEDERALBNK.NS stored in data/stock_technical_data/FEDERALBNK.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for PNB.NS stored in data/stock_technical_data/PNB.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for IDFCFIRSTB.NS stored in data/stock_technical_data/IDFCFIRSTB.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for BANKBARODA.NS stored in data/stock_technical_data/BANKBARODA.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1355, 28)
Data for AUBANK.NS stored in data/stock_technical_data/AUBANK.NS.csv

NameError: name 'pd' is not defined

[*********************100%***********************]  1 of 1 completed

In [35]:
aubank_df.head()

,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,EMA_21,...,BB_upper,BB_lower,ADX,ADX+DI,ADX-DI,CMF,OBV,CCI,Williams_%R,ATR
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-11,268.500000,287.325012,266.200012,283.625000,282.023376,28572624,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,28572624.0,NaN,NaN,NaN
2017-07-12,288.225006,321.350006,287.500000,314.774994,312.997467,35549156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,64121780.0,NaN,NaN,NaN
2017-07-13,326.000000,349.475006,315.049988,345.575012,343.623535,43750394,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,107872174.0,NaN,NaN,NaN
2017-07-14,348.899994,362.750000,280.549988,299.399994,297.709290,67296768,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40575406.0,NaN,NaN,NaN
2017-07-17,295.000000,306.850006,281.174988,298.049988,296.366913,23021580,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,17553826.0,NaN,NaN,NaN

In [36]:
aubank_df.describe()

,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,EMA_21,...,BB_upper,BB_lower,ADX,ADX+DI,ADX-DI,CMF,OBV,CCI,Williams_%R,ATR
count,1355.000000,1355.000000,1355.000000,1355.000000,1355.000000,1.355000e+03,1347.000000,1335.000000,1347.000000,1335.000000,...,1336.000000,1336.000000,1328.000000,1341.000000,1341.000000,1335.000000,1.355000e+03,1336.000000,1342.000000,1341.000000
mean,430.413322,438.241274,421.833469,430.017878,428.271011,1.769028e+06,429.705172,429.238452,429.712380,429.320999,...,466.002984,392.547716,27.979974,21.226573,20.354704,0.019021,6.259401e+07,21.357652,-44.833658,17.033593
std,140.180256,142.510278,137.538472,139.875776,139.556089,3.218745e+06,138.760488,136.829869,138.237417,135.665593,...,150.297221,129.355492,10.737608,7.660815,8.011514,0.167709,7.211204e+07,113.426342,27.009421,6.897520
min,190.000000,196.500000,183.000000,190.074997,189.362411,2.461000e+04,198.427780,206.785715,200.185417,214.670555,...,228.058797,119.469471,10.782116,3.937697,2.616118,-0.487426,-1.989554e+07,-351.556824,-100.000000,7.803421
25%,316.649994,322.450012,309.512512,317.125000,315.682220,4.954650e+05,317.986113,317.529763,317.250364,317.277248,...,341.312810,287.566688,19.829498,15.702769,14.500794,-0.104512,1.101430e+06,-65.991065,-67.139695,10.908416
50%,360.000000,366.500000,352.000000,359.524994,357.853394,1.113566e+06,356.719449,352.058331,356.543037,351.045779,...,392.159109,334.549353,26.014522,20.602979,19.290568,0.020570,3.251802e+07,30.696951,-41.422026,15.598055
75%,580.987488,591.237488,570.012512,580.774994,578.796936,2.074530e+06,578.556942,579.760122,580.215760,582.249277,...,631.904671,531.197595,34.809767,26.146586,25.225020,0.121374,1.292037e+08,104.572593,-21.760324,22.120444
max,717.000000,732.974976,711.500000,717.525024,714.835083,6.729677e+07,700.980550,689.083330,696.143318,679.502438,...,745.690111,658.819359,62.939752,54.300496,49.483798,0.532465,2.186475e+08,403.456521,0.000000,44.276451

In [37]:
aubank_df.isnull().sum()

Open                   0
High                   0
Low                    0
Close                  0
Adj Close              0
Volume                 0
SMA_9                  8
SMA_21                20
EMA_9                  8
EMA_21                20
DEMA_9                 8
DEMA_21               20
MACD_Line             25
MACD_Signal_Line      33
RSI_14                14
Stoch_Oscillator_K    15
Stoch_Oscillator_D    17
BB_middle             19
BB_upper              19
BB_lower              19
ADX                   27
ADX+DI                14
ADX-DI                14
CMF                   20
OBV                    0
CCI                   19
Williams_%R           13
ATR                   14
dtype: int64

In [38]:
aubank_df = pd.read_csv(f"{folder_path}AUBANK.NS.csv")

In [39]:
def find_missing_indices(stock_df):
    
    missing_indices = {}

    for column in stock_df.columns:
        missing = stock_df[stock_df[column].isnull()].index.tolist()
        if missing:  
            missing_indices[column] = missing

    return missing_indices

In [40]:
missing_values = find_missing_indices(aubank_df)

for indicator, indices in missing_values.items():
    print(f"Missing values for {indicator}: {indices}")

Missing values for SMA_9: [0, 1, 2, 3, 4, 5, 6, 7]
Missing values for SMA_21: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Missing values for EMA_9: [0, 1, 2, 3, 4, 5, 6, 7]
Missing values for EMA_21: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Missing values for DEMA_9: [0, 1, 2, 3, 4, 5, 6, 7]
Missing values for DEMA_21: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Missing values for MACD_Line: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
Missing values for MACD_Signal_Line: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
Missing values for RSI_14: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Missing values for Stoch_Oscillator_K: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Missing values for Stoch_Oscillator_D: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Missing values for BB_middle: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Missing values for BB_upper: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Missing values for BB_lower: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Missing values for ADX: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
Missing values for ADX+DI: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Missing values for ADX-DI: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Missing values for CMF: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Missing values for CCI: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Missing values for Williams_%R: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Missing values for ATR: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [41]:
def clean_datasets(folder_path):

    for stock_symbol in bank_nifty_stock_symbols:
        stock_df = pd.read_csv(f"{folder_path}{stock_symbol}.csv")
        if 'PSAR' in stock_df.columns:
            stock_df.drop('PSAR', axis=1, inplace=True)

        stock_df_clean = stock_df.dropna()

        print("Number of rows dropped: ", stock_df.shape[0] - stock_df_clean.shape[0])

        stock_df_clean.to_csv(f"{folder_path}{stock_symbol}.csv", index=False)
        print(f"Data for {stock_symbol} cleaned and stored in {folder_path}{stock_symbol}.csv")

In [42]:
clean_datasets(folder_path)

Number of rows dropped:  33
Data for HDFCBANK.NS cleaned and stored in data/stock_technical_data/HDFCBANK.NS.csv
Number of rows dropped:  33
Data for AXISBANK.NS cleaned and stored in data/stock_technical_data/AXISBANK.NS.csv
Number of rows dropped:  33
Data for ICICIBANK.NS cleaned and stored in data/stock_technical_data/ICICIBANK.NS.csv
Number of rows dropped:  0
Data for HDFCBANK.NS cleaned and stored in data/stock_technical_data/HDFCBANK.NS.csv
Number of rows dropped:  33
Data for KOTAKBANK.NS cleaned and stored in data/stock_technical_data/KOTAKBANK.NS.csv
Number of rows dropped:  33
Data for SBIN.NS cleaned and stored in data/stock_technical_data/SBIN.NS.csv
Number of rows dropped:  33
Data for INDUSINDBK.NS cleaned and stored in data/stock_technical_data/INDUSINDBK.NS.csv
Number of rows dropped:  33
Data for BANDHANBNK.NS cleaned and stored in data/stock_technical_data/BANDHANBNK.NS.csv
Number of rows dropped:  33
Data for FEDERALBNK.NS cleaned and stored in data/stock_technical_data/FEDERALBNK.NS.csv
Number of rows dropped:  33
Data for PNB.NS cleaned and stored in data/stock_technical_data/PNB.NS.csv
Number of rows dropped:  33
Data for IDFCFIRSTB.NS cleaned and stored in data/stock_technical_data/IDFCFIRSTB.NS.csv
Number of rows dropped:  33
Data for BANKBARODA.NS cleaned and stored in data/stock_technical_data/BANKBARODA.NS.csv
Number of rows dropped:  33
Data for AUBANK.NS cleaned and stored in data/stock_technical_data/AUBANK.NS.csv

In [43]:
aubank_df_clean = pd.read_csv(f"{folder_path}AUBANK.NS.csv")
aubank_df_clean.isnull().sum()

Date                  0
Open                  0
High                  0
Low                   0
Close                 0
Adj Close             0
Volume                0
SMA_9                 0
SMA_21                0
EMA_9                 0
EMA_21                0
DEMA_9                0
DEMA_21               0
MACD_Line             0
MACD_Signal_Line      0
RSI_14                0
Stoch_Oscillator_K    0
Stoch_Oscillator_D    0
BB_middle             0
BB_upper              0
BB_lower              0
ADX                   0
ADX+DI                0
ADX-DI                0
CMF                   0
OBV                   0
CCI                   0
Williams_%R           0
ATR                   0
dtype: int64

In [44]:
print(aubank_df_clean.shape)

(1322, 29)

In [45]:
def normalize_data(folder_path):

    for stock_symbol in bank_nifty_stock_symbols:
        stock_df = pd.read_csv(f"{folder_path}{stock_symbol}.csv")

        # Normalize the data
        scaler = MinMaxScaler()

        stock_df.iloc[:, 1:] = scaler.fit_transform(stock_df.iloc[:, 1:])
        stock_df.to_csv(f"{folder_path}{stock_symbol}.csv", index=False)
        print(f"Data for {stock_symbol} normalized and stored in {folder_path}{stock_symbol}.csv")

In [46]:
normalize_data(folder_path)

Data for HDFCBANK.NS normalized and stored in data/stock_technical_data/HDFCBANK.NS.csv
Data for AXISBANK.NS normalized and stored in data/stock_technical_data/AXISBANK.NS.csv
Data for ICICIBANK.NS normalized and stored in data/stock_technical_data/ICICIBANK.NS.csv
Data for HDFCBANK.NS normalized and stored in data/stock_technical_data/HDFCBANK.NS.csv
Data for KOTAKBANK.NS normalized and stored in data/stock_technical_data/KOTAKBANK.NS.csv
Data for SBIN.NS normalized and stored in data/stock_technical_data/SBIN.NS.csv
Data for INDUSINDBK.NS normalized and stored in data/stock_technical_data/INDUSINDBK.NS.csv
Data for BANDHANBNK.NS normalized and stored in data/stock_technical_data/BANDHANBNK.NS.csv
Data for FEDERALBNK.NS normalized and stored in data/stock_technical_data/FEDERALBNK.NS.csv
Data for PNB.NS normalized and stored in data/stock_technical_data/PNB.NS.csv
Data for IDFCFIRSTB.NS normalized and stored in data/stock_technical_data/IDFCFIRSTB.NS.csv
Data for BANKBARODA.NS normalized and stored in data/stock_technical_data/BANKBARODA.NS.csv
Data for AUBANK.NS normalized and stored in data/stock_technical_data/AUBANK.NS.csv

In [47]:
aubank_df_final = pd.read_csv(f"{folder_path}AUBANK.NS.csv")

In [48]:
# perform a sanity check
aubank_df_final.describe()

,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,EMA_21,...,BB_upper,BB_lower,ADX,ADX+DI,ADX-DI,CMF,OBV,CCI,Williams_%R,ATR
count,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,...,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000
mean,0.463060,0.457384,0.458716,0.461756,0.461519,0.060502,0.465647,0.464170,0.468297,0.464836,...,0.462923,0.508849,0.328147,0.345823,0.375568,0.496051,0.351455,0.495725,0.554530,0.254032
std,0.265619,0.265339,0.259798,0.264827,0.265207,0.077118,0.275815,0.283538,0.278421,0.291650,...,0.290159,0.239822,0.204973,0.151342,0.169890,0.164965,0.303489,0.149900,0.270607,0.190196
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.247035,0.238828,0.250071,0.246599,0.245919,0.017522,0.241984,0.237047,0.242426,0.228009,...,0.221600,0.316639,0.172596,0.235062,0.251809,0.374880,0.089930,0.381297,0.329243,0.084366
50%,0.332021,0.325598,0.328288,0.329486,0.329265,0.041301,0.320514,0.306737,0.321038,0.295769,...,0.327103,0.402493,0.290233,0.332970,0.354938,0.496601,0.246862,0.508294,0.590829,0.214335
75%,0.744343,0.740482,0.735974,0.742487,0.742630,0.077741,0.759432,0.776169,0.768740,0.790880,...,0.781687,0.766500,0.457524,0.442533,0.477333,0.597151,0.642575,0.605065,0.785015,0.394112
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [49]:
aubank_df_final.head()

,Date,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,...,BB_upper,BB_lower,ADX,ADX+DI,ADX-DI,CMF,OBV,CCI,Williams_%R,ATR
0,2017-08-29,0.143264,0.154527,0.156102,0.156081,0.155097,0.062373,0.139753,0.143413,0.140257,...,0.125396,0.255196,0.681276,0.231166,0.531184,0.657288,0.050219,0.435847,0.560944,0.095713
1,2017-08-30,0.161290,0.153549,0.172611,0.161816,0.160821,0.026393,0.140499,0.141555,0.142547,...,0.118482,0.258147,0.648949,0.216917,0.504146,0.637386,0.053205,0.497734,0.775396,0.085449
2,2017-08-31,0.161101,0.152337,0.170293,0.160489,0.159497,0.021323,0.141157,0.139523,0.144096,...,0.111571,0.261401,0.622847,0.205559,0.501847,0.616971,0.050772,0.506546,0.835388,0.073395
3,2017-09-01,0.162239,0.164966,0.171760,0.163191,0.162193,0.066832,0.142766,0.137864,0.145911,...,0.104622,0.265317,0.574074,0.280346,0.456251,0.599744,0.058176,0.594049,0.631250,0.074962
4,2017-09-04,0.166746,0.159653,0.166556,0.167646,0.166640,0.044449,0.144623,0.136630,0.148310,...,0.104357,0.265432,0.537157,0.251569,0.457483,0.619167,0.063134,0.582652,0.729167,0.076192

In [50]:
aubank_df_final.isnull().sum()

Date                  0
Open                  0
High                  0
Low                   0
Close                 0
Adj Close             0
Volume                0
SMA_9                 0
SMA_21                0
EMA_9                 0
EMA_21                0
DEMA_9                0
DEMA_21               0
MACD_Line             0
MACD_Signal_Line      0
RSI_14                0
Stoch_Oscillator_K    0
Stoch_Oscillator_D    0
BB_middle             0
BB_upper              0
BB_lower              0
ADX                   0
ADX+DI                0
ADX-DI                0
CMF                   0
OBV                   0
CCI                   0
Williams_%R           0
ATR                   0
dtype: int64

In [51]:
aubank_df_final.shape

(1322, 29)

In [53]:
def create_target_label(folder_path):

    for stock_symbol in bank_nifty_stock_symbols:
        stock_df = pd.read_csv(f"{folder_path}{stock_symbol}.csv")
        stock_df['Next_Close'] = stock_df['Close'].shift(-1)
        stock_df['Target'] = (stock_df['Next_Close'] > stock_df['Close']).astype(int)
        stock_df.drop(columns=['Next_Close'], inplace=True)
        stock_df.to_csv(f"{folder_path}{stock_symbol}.csv", index=False)
        print(f"Target label for {stock_symbol} created and stored in {folder_path}{stock_symbol}.csv")

In [54]:
create_target_label(folder_path)

Target label for HDFCBANK.NS created and stored in data/stock_technical_data/HDFCBANK.NS.csv
Target label for AXISBANK.NS created and stored in data/stock_technical_data/AXISBANK.NS.csv
Target label for ICICIBANK.NS created and stored in data/stock_technical_data/ICICIBANK.NS.csv
Target label for HDFCBANK.NS created and stored in data/stock_technical_data/HDFCBANK.NS.csv
Target label for KOTAKBANK.NS created and stored in data/stock_technical_data/KOTAKBANK.NS.csv
Target label for SBIN.NS created and stored in data/stock_technical_data/SBIN.NS.csv
Target label for INDUSINDBK.NS created and stored in data/stock_technical_data/INDUSINDBK.NS.csv
Target label for BANDHANBNK.NS created and stored in data/stock_technical_data/BANDHANBNK.NS.csv
Target label for FEDERALBNK.NS created and stored in data/stock_technical_data/FEDERALBNK.NS.csv
Target label for PNB.NS created and stored in data/stock_technical_data/PNB.NS.csv
Target label for IDFCFIRSTB.NS created and stored in data/stock_technical_data/IDFCFIRSTB.NS.csv
Target label for BANKBARODA.NS created and stored in data/stock_technical_data/BANKBARODA.NS.csv
Target label for AUBANK.NS created and stored in data/stock_technical_data/AUBANK.NS.csv

In [55]:
aubank_df_final_labelled = pd.read_csv(f"{folder_path}AUBANK.NS.csv")

In [57]:
aubank_df_final_labelled.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,...,BB_lower,ADX,ADX+DI,ADX-DI,CMF,OBV,CCI,Williams_%R,ATR,Target
0,2017-08-29,0.143264,0.154527,0.156102,0.156081,0.155097,0.062373,0.139753,0.143413,0.140257,...,0.255196,0.681276,0.231166,0.531184,0.657288,0.050219,0.435847,0.560944,0.095713,1
1,2017-08-30,0.161290,0.153549,0.172611,0.161816,0.160821,0.026393,0.140499,0.141555,0.142547,...,0.258147,0.648949,0.216917,0.504146,0.637386,0.053205,0.497734,0.775396,0.085449,0
2,2017-08-31,0.161101,0.152337,0.170293,0.160489,0.159497,0.021323,0.141157,0.139523,0.144096,...,0.261401,0.622847,0.205559,0.501847,0.616971,0.050772,0.506546,0.835388,0.073395,1
3,2017-09-01,0.162239,0.164966,0.171760,0.163191,0.162193,0.066832,0.142766,0.137864,0.145911,...,0.265317,0.574074,0.280346,0.456251,0.599744,0.058176,0.594049,0.631250,0.074962,1
4,2017-09-04,0.166746,0.159653,0.166556,0.167646,0.166640,0.044449,0.144623,0.136630,0.148310,...,0.265432,0.537157,0.251569,0.457483,0.619167,0.063134,0.582652,0.729167,0.076192,1