# Importing Libraries

In [23]:
import yfinance as yf
import pandas_ta as ta
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Making the Dataset

In [24]:
folder_path = 'data/new_label_dataset/'

In [25]:
# Bank Nifty Stock Symbols
bank_nifty_stock_symbols = [
    "HDFCBANK.NS",
    "AXISBANK.NS",
    "ICICIBANK.NS",
    "HDFCBANK.NS",
    "KOTAKBANK.NS",
    "SBIN.NS",
    "INDUSINDBK.NS",
    "BANDHANBNK.NS",
    "FEDERALBNK.NS",
    "PNB.NS",
    "IDFCFIRSTB.NS",
    "BANKBARODA.NS",
    "AUBANK.NS"
]

In [26]:
start_date = "2017-01-01"
end_date = "2022-12-31"

In [27]:
def make_dataset(stock_symbol, start_date, end_date):

    stock_df = yf.download(stock_symbol, start=start_date, end=end_date)

    # Simple Moving Average (SMA)
    stock_df["SMA_9"] = ta.sma(stock_df["Close"], length = 9)
    stock_df["SMA_21"] = ta.sma(stock_df["Close"], length = 21)

    # Exponential Moving Average (EMA)
    stock_df["EMA_9"] = ta.ema(stock_df["Close"], length = 9)
    stock_df["EMA_21"] = ta.ema(stock_df["Close"], length = 21)

    # Double Exponential Moving Average (DEMA)
    stock_df["DEMA_9"] = ta.dema(stock_df["Close"], length = 9)
    stock_df["DEMA_21"] = ta.dema(stock_df["Close"], length = 21)

    # Moving Average Convergence Divergence (MACD)
    stock_df["MACD_Line"] = ta.macd(stock_df["Close"])["MACD_12_26_9"]
    stock_df["MACD_Signal_Line"] = ta.macd(stock_df["Close"])["MACDs_12_26_9"]

    # Relative Strength Index (RSI)
    stock_df["RSI_14"] = ta.rsi(stock_df["Close"], length = 14) 

    # Stochastic Oscillator
    stoch = ta.stoch(stock_df['High'], stock_df['Low'], stock_df['Close'], k=14, d=3)
    stock_df["Stoch_Oscillator_K"] = stoch["STOCHk_14_3_3"]
    stock_df["Stoch_Oscillator_D"] = stoch["STOCHd_14_3_3"]

    # Bollinger Bands / Standard Deviation
    bollinger_bands = ta.bbands(stock_df["Close"], length = 20, std = 2)
    stock_df['BB_middle'] = bollinger_bands['BBM_20_2.0']
    stock_df['BB_upper'] = bollinger_bands['BBU_20_2.0']
    stock_df['BB_lower'] = bollinger_bands['BBL_20_2.0']

    # Average Directional Index (ADX)
    adx = ta.adx(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)
    stock_df['ADX'] = adx['ADX_14']
    stock_df['ADX+DI'] = adx['DMP_14'] 
    stock_df['ADX-DI'] = adx['DMN_14']

    # Chaikin Money Flow (CMF)
    stock_df['CMF'] = ta.cmf(stock_df['High'], stock_df['Low'], stock_df['Close'], stock_df['Volume'], length = 21)

    # On Balance Volume (OBV)
    stock_df['OBV'] = ta.obv(stock_df['Close'], stock_df['Volume'])

    # Commodity Channel Index (CCI)
    stock_df['CCI'] = ta.cci(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 20)

    # Williams %R
    stock_df['Williams_%R'] = ta.willr(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)

    # Average True Range (ATR)
    stock_df['ATR'] = ta.atr(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)

    return stock_df

In [28]:
def fill_moving_averages(stock_df):
    moving_avg_columns = ['SMA_9', 'SMA_21', 'EMA_9', 'EMA_21', 'DEMA_9', 'DEMA_21']
    
    for col in moving_avg_columns:
        stock_df[col] = stock_df[col].fillna(stock_df[col].expanding().mean())
    
    return stock_df

In [29]:
for stock_symbol in bank_nifty_stock_symbols:
    stock_df = make_dataset(stock_symbol, start_date, end_date)
    print("Shape of the dataset: ", stock_df.shape)
    stock_df.to_csv(f"{folder_path}{stock_symbol}.csv")
    print(f"Data for {stock_symbol} stored in {folder_path}{stock_symbol}.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for HDFCBANK.NS stored in data/new_label_dataset/HDFCBANK.NS.csv
Shape of the dataset:  (1484, 28)
Data for AXISBANK.NS stored in data/new_label_dataset/AXISBANK.NS.csv

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for ICICIBANK.NS stored in data/new_label_dataset/ICICIBANK.NS.csv
Shape of the dataset:  (1484, 28)
Data for HDFCBANK.NS stored in data/new_label_dataset/HDFCBANK.NS.csv

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for KOTAKBANK.NS stored in data/new_label_dataset/KOTAKBANK.NS.csv
Shape of the dataset:  (1484, 28)
Data for SBIN.NS stored in data/new_label_dataset/SBIN.NS.csv

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for INDUSINDBK.NS stored in data/new_label_dataset/INDUSINDBK.NS.csv
Shape of the dataset:  (1178, 28)
Data for BANDHANBNK.NS stored in data/new_label_dataset/BANDHANBNK.NS.csv

[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for FEDERALBNK.NS stored in data/new_label_dataset/FEDERALBNK.NS.csv
Shape of the dataset:  (1484, 28)

[*********************100%***********************]  1 of 1 completed

Data for PNB.NS stored in data/new_label_dataset/PNB.NS.csv
Shape of the dataset:  (1484, 28)
Data for IDFCFIRSTB.NS stored in data/new_label_dataset/IDFCFIRSTB.NS.csv

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of the dataset:  (1484, 28)
Data for BANKBARODA.NS stored in data/new_label_dataset/BANKBARODA.NS.csv
Shape of the dataset:  (1355, 28)
Data for AUBANK.NS stored in data/new_label_dataset/AUBANK.NS.csv

In [30]:
aubank_df = pd.read_csv(f"{folder_path}AUBANK.NS.csv")

In [31]:
aubank_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,...,BB_upper,BB_lower,ADX,ADX+DI,ADX-DI,CMF,OBV,CCI,Williams_%R,ATR
0,2017-07-11,268.500000,287.325012,266.200012,283.625000,282.023376,28572624,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,28572624.0,NaN,NaN,NaN
1,2017-07-12,288.225006,321.350006,287.500000,314.774994,312.997437,35549156,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,64121780.0,NaN,NaN,NaN
2,2017-07-13,326.000000,349.475006,315.049988,345.575012,343.623566,43750394,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,107872174.0,NaN,NaN,NaN
3,2017-07-14,348.899994,362.750000,280.549988,299.399994,297.709290,67296768,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40575406.0,NaN,NaN,NaN
4,2017-07-17,295.000000,306.850006,281.174988,298.049988,296.366913,23021580,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,17553826.0,NaN,NaN,NaN

In [32]:
aubank_df.describe()

,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,EMA_21,...,BB_upper,BB_lower,ADX,ADX+DI,ADX-DI,CMF,OBV,CCI,Williams_%R,ATR
count,1355.000000,1355.000000,1355.000000,1355.000000,1355.000000,1.355000e+03,1347.000000,1335.000000,1347.000000,1335.000000,...,1336.000000,1336.000000,1328.000000,1341.000000,1341.000000,1335.000000,1.355000e+03,1336.000000,1342.000000,1341.000000
mean,430.413322,438.241274,421.833469,430.017878,428.271011,1.769028e+06,429.705172,429.238452,429.712380,429.320999,...,466.002984,392.547716,27.979974,21.226573,20.354704,0.019021,6.259401e+07,21.357652,-44.833658,17.033593
std,140.180256,142.510278,137.538472,139.875776,139.556089,3.218745e+06,138.760488,136.829869,138.237417,135.665593,...,150.297221,129.355492,10.737608,7.660815,8.011514,0.167709,7.211204e+07,113.426342,27.009421,6.897520
min,190.000000,196.500000,183.000000,190.074997,189.362411,2.461000e+04,198.427780,206.785715,200.185417,214.670555,...,228.058797,119.469471,10.782116,3.937697,2.616118,-0.487426,-1.989554e+07,-351.556824,-100.000000,7.803421
25%,316.649994,322.450012,309.512512,317.125000,315.682251,4.954650e+05,317.986113,317.529763,317.250364,317.277248,...,341.312810,287.566688,19.829498,15.702769,14.500794,-0.104512,1.101430e+06,-65.991065,-67.139695,10.908416
50%,360.000000,366.500000,352.000000,359.524994,357.853394,1.113566e+06,356.719449,352.058331,356.543037,351.045779,...,392.159109,334.549353,26.014522,20.602979,19.290568,0.020570,3.251802e+07,30.696951,-41.422026,15.598055
75%,580.987488,591.237488,570.012512,580.774994,578.796936,2.074530e+06,578.556942,579.760122,580.215760,582.249277,...,631.904671,531.197595,34.809767,26.146586,25.225020,0.121374,1.292037e+08,104.572593,-21.760324,22.120444
max,717.000000,732.974976,711.500000,717.525024,714.835083,6.729677e+07,700.980550,689.083330,696.143318,679.502438,...,745.690111,658.819359,62.939752,54.300496,49.483798,0.532465,2.186475e+08,403.456521,0.000000,44.276451

In [33]:
aubank_df.isnull().sum()

Date                   0
Open                   0
High                   0
Low                    0
Close                  0
Adj Close              0
Volume                 0
SMA_9                  8
SMA_21                20
EMA_9                  8
EMA_21                20
DEMA_9                 8
DEMA_21               20
MACD_Line             25
MACD_Signal_Line      33
RSI_14                14
Stoch_Oscillator_K    15
Stoch_Oscillator_D    17
BB_middle             19
BB_upper              19
BB_lower              19
ADX                   27
ADX+DI                14
ADX-DI                14
CMF                   20
OBV                    0
CCI                   19
Williams_%R           13
ATR                   14
dtype: int64

In [34]:
def find_missing_indices(stock_df):
    
    missing_indices = {}

    for column in stock_df.columns:
        missing = stock_df[stock_df[column].isnull()].index.tolist()
        if missing:  
            missing_indices[column] = missing

    return missing_indices

In [35]:
missing_values = find_missing_indices(aubank_df)

for indicator, indices in missing_values.items():
    print(f"Missing values for {indicator}: {indices}")

Missing values for SMA_9: [0, 1, 2, 3, 4, 5, 6, 7]
Missing values for SMA_21: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Missing values for EMA_9: [0, 1, 2, 3, 4, 5, 6, 7]
Missing values for EMA_21: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Missing values for DEMA_9: [0, 1, 2, 3, 4, 5, 6, 7]
Missing values for DEMA_21: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Missing values for MACD_Line: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
Missing values for MACD_Signal_Line: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
Missing values for RSI_14: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Missing values for Stoch_Oscillator_K: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Missing values for Stoch_Oscillator_D: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Missing values for BB_middle: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Missing values for BB_upper: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Missing values for BB_lower: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Missing values for ADX: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
Missing values for ADX+DI: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Missing values for ADX-DI: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Missing values for CMF: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Missing values for CCI: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Missing values for Williams_%R: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Missing values for ATR: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [36]:
def clean_datasets(folder_path):

    for stock_symbol in bank_nifty_stock_symbols:
        stock_df = pd.read_csv(f"{folder_path}{stock_symbol}.csv")
        if 'PSAR' in stock_df.columns:
            stock_df.drop('PSAR', axis=1, inplace=True)

        stock_df_clean = stock_df.dropna()

        print("Number of rows dropped: ", stock_df.shape[0] - stock_df_clean.shape[0])

        stock_df_clean.to_csv(f"{folder_path}{stock_symbol}.csv", index=False)
        print(f"Data for {stock_symbol} cleaned and stored in {folder_path}{stock_symbol}.csv")

In [37]:
clean_datasets(folder_path)

Number of rows dropped:  33
Data for HDFCBANK.NS cleaned and stored in data/new_label_dataset/HDFCBANK.NS.csv
Number of rows dropped:  33
Data for AXISBANK.NS cleaned and stored in data/new_label_dataset/AXISBANK.NS.csv
Number of rows dropped:  33
Data for ICICIBANK.NS cleaned and stored in data/new_label_dataset/ICICIBANK.NS.csv
Number of rows dropped:  0
Data for HDFCBANK.NS cleaned and stored in data/new_label_dataset/HDFCBANK.NS.csv
Number of rows dropped:  33
Data for KOTAKBANK.NS cleaned and stored in data/new_label_dataset/KOTAKBANK.NS.csv
Number of rows dropped:  33
Data for SBIN.NS cleaned and stored in data/new_label_dataset/SBIN.NS.csv
Number of rows dropped:  33
Data for INDUSINDBK.NS cleaned and stored in data/new_label_dataset/INDUSINDBK.NS.csv
Number of rows dropped:  33
Data for BANDHANBNK.NS cleaned and stored in data/new_label_dataset/BANDHANBNK.NS.csv
Number of rows dropped:  33
Data for FEDERALBNK.NS cleaned and stored in data/new_label_dataset/FEDERALBNK.NS.csv
Number of rows dropped:  33
Data for PNB.NS cleaned and stored in data/new_label_dataset/PNB.NS.csv
Number of rows dropped:  33
Data for IDFCFIRSTB.NS cleaned and stored in data/new_label_dataset/IDFCFIRSTB.NS.csv
Number of rows dropped:  33
Data for BANKBARODA.NS cleaned and stored in data/new_label_dataset/BANKBARODA.NS.csv
Number of rows dropped:  33
Data for AUBANK.NS cleaned and stored in data/new_label_dataset/AUBANK.NS.csv

In [38]:
aubank_df_clean = pd.read_csv(f"{folder_path}AUBANK.NS.csv")
aubank_df_clean.isnull().sum()

Date                  0
Open                  0
High                  0
Low                   0
Close                 0
Adj Close             0
Volume                0
SMA_9                 0
SMA_21                0
EMA_9                 0
EMA_21                0
DEMA_9                0
DEMA_21               0
MACD_Line             0
MACD_Signal_Line      0
RSI_14                0
Stoch_Oscillator_K    0
Stoch_Oscillator_D    0
BB_middle             0
BB_upper              0
BB_lower              0
ADX                   0
ADX+DI                0
ADX-DI                0
CMF                   0
OBV                   0
CCI                   0
Williams_%R           0
ATR                   0
dtype: int64

In [39]:
print(aubank_df_clean.shape)

(1322, 29)

In [40]:
def create_target_label(folder_path):

    stock_maximums = {}

    for stock_symbol in bank_nifty_stock_symbols:
        stock_df = pd.read_csv(f"{folder_path}{stock_symbol}.csv")
        maximum_rise_in_price_in_consective_days = 0
        maximum_fall_in_price_in_consective_days = 0

        stock_df['Target'] = 0

        for i in range(1, stock_df.shape[0]):
            if stock_df['Close'][i] > stock_df['Close'][i-1]:
                maximum_rise_in_price_in_consective_days = max(maximum_rise_in_price_in_consective_days, stock_df['Close'][i] - stock_df['Close'][i-1])
            else:
                maximum_fall_in_price_in_consective_days = max(maximum_fall_in_price_in_consective_days, stock_df['Close'][i-1] - stock_df['Close'][i])

        stock_maximums[stock_symbol] = (maximum_rise_in_price_in_consective_days, maximum_fall_in_price_in_consective_days)
        
        for i in range(1, stock_df.shape[0]):
            change_in_price = stock_df['Close'][i] - stock_df['Close'][i-1]

            if (change_in_price > 0):
                percentage_change = (change_in_price / (maximum_rise_in_price_in_consective_days*(1.00)))
                percentage_change = percentage_change / 2
                percentage_change = round(percentage_change, 2)
                stock_df.loc[i, 'Target'] = 0.5 + percentage_change

            else:
                change_in_price = abs(change_in_price)
                percentage_change = (change_in_price / (maximum_fall_in_price_in_consective_days*(1.00)))
                percentage_change = percentage_change / 2
                percentage_change = round(percentage_change, 2)
                stock_df.loc[i, 'Target'] = 0.5 - percentage_change

        stock_df.to_csv(f"{folder_path}{stock_symbol}.csv", index=False)

    return stock_maximums

In [41]:
stock_maximums = create_target_label(folder_path)

In [42]:
aubank_df_target = pd.read_csv(f"{folder_path}AUBANK.NS.csv")

In [44]:
aubank_df_target.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,...,BB_lower,ADX,ADX+DI,ADX-DI,CMF,OBV,CCI,Williams_%R,ATR,Target
0,2017-08-29,265.500000,279.399994,265.500000,272.399994,270.861786,1649802,268.661109,275.953571,269.747170,...,257.109623,46.315878,15.579860,27.511465,0.182936,-7916212.0,-22.486667,-43.905643,11.294367,0.00
1,2017-08-30,275.000000,278.875000,274.225006,275.424988,273.869659,712294,269.036109,275.057142,270.882733,...,258.701281,44.629755,14.862239,26.244265,0.162639,-7203918.0,24.239067,-22.460356,10.919995,0.53
2,2017-08-31,274.899994,278.225006,273.000000,274.725006,273.173615,580208,269.366665,274.077381,271.651188,...,260.456179,43.268357,14.290231,26.136532,0.141817,-7784126.0,30.892280,-16.461228,10.480352,0.50
3,2017-09-01,275.500000,285.000000,273.774994,276.149994,274.590576,1765988,270.174998,273.277380,272.550949,...,262.568087,40.724434,18.056729,23.999530,0.124248,-6018138.0,96.957914,-36.875025,10.537509,0.51
4,2017-09-04,277.875000,282.149994,271.024994,278.500000,276.927307,1182770,271.108331,272.682142,273.740759,...,262.630387,38.798966,16.607432,24.057285,0.144057,-4835368.0,88.353220,-27.083333,10.582363,0.52
5,2017-09-05,280.049988,288.250000,276.575012,286.575012,284.956726,1989224,273.533332,273.030952,276.307610,...,261.445038,36.017884,19.571585,22.056518,0.186246,-2846144.0,177.568397,-6.146744,10.665375,0.57
6,2017-09-06,284.000000,289.000000,281.799988,283.924988,282.321686,1157354,275.899997,273.353571,277.831085,...,260.914892,33.384987,19.092384,20.902004,0.166896,-4003498.0,160.379632,-18.125044,10.403286,0.48
7,2017-09-07,285.625000,288.000000,277.500000,279.350006,277.772491,815452,277.336110,273.527380,278.134870,...,261.370567,31.613485,17.642099,22.425050,0.090621,-4818950.0,117.262176,-34.464264,10.410570,0.47
8,2017-09-08,280.500000,282.750000,275.000000,277.174988,275.609802,831916,278.247220,273.194047,277.942893,...,261.367084,30.339722,16.637531,22.984957,0.036877,-5650866.0,67.870040,-42.232186,10.210966,0.49
9,2017-09-11,279.375000,282.450012,275.500000,279.299988,277.722839,697004,279.013885,273.401188,278.214312,...,261.489833,29.181880,15.770295,21.786860,0.068276,-4953862.0,69.590690,-34.642901,9.967196,0.52
10,2017-09-12,280.000000,280.225006,275.524994,277.825012,276.256104,468214,279.280555,273.707142,278.136452,...,261.772009,28.127593,15.193522,20.990041,-0.115213,-5422076.0,47.586700,-39.910671,9.574757,0.49
11,2017-09-13,278.450012,280.000000,275.524994,278.750000,277.175903,476598,279.727776,274.088094,278.259162,...,262.142150,27.166093,14.644343,20.231342,-0.148249,-4945478.0,46.269642,-37.998138,9.195958,0.51
12,2017-09-14,279.500000,282.149994,276.350006,277.049988,275.485474,359790,279.827776,274.414283,278.017327,...,262.380419,25.822759,15.721360,19.259663,-0.130824,-5305268.0,47.729869,-47.800049,8.944430,0.49
13,2017-09-15,275.899994,286.000000,275.225006,283.625000,282.023376,1008804,280.397220,274.965474,279.138862,...,262.427857,23.824597,17.475502,17.571262,-0.084520,-4296464.0,81.635925,-22.872340,9.079657,0.55
14,2017-09-18,284.500000,288.000000,279.500000,281.350006,279.761230,823952,279.816664,275.422618,279.581090,...,263.115748,22.323583,17.895119,16.353339,-0.083216,-5120416.0,92.008599,-42.559061,9.036941,0.49
15,2017-09-19,281.399994,281.399994,275.500000,276.524994,274.963470,931266,278.994442,275.786903,278.969871,...,263.704069,21.003178,17.013602,18.887447,-0.094723,-6051682.0,20.244751,-69.401958,8.806296,0.47
16,2017-09-20,278.399994,279.000000,273.174988,274.950012,273.397400,1214296,278.505554,276.017856,278.165899,...,265.332959,20.192003,16.166859,19.933923,-0.097497,-7265978.0,-17.761166,-78.164022,8.587554,0.49
17,2017-09-21,275.600006,280.399994,273.000000,276.850006,275.286621,986458,278.469445,276.594046,277.902721,...,268.042656,19.156567,16.342293,18.663174,-0.058652,-6279520.0,-14.774292,-67.593823,8.500590,0.52
18,2017-09-22,275.950012,275.950012,270.500000,272.975006,271.433533,569140,277.766669,277.086904,276.917178,...,269.542986,18.645666,15.433117,19.815166,-0.050724,-6848660.0,-110.863706,-86.621589,8.343387,0.48
19,2017-09-25,274.799988,278.750000,264.250000,276.750000,275.187225,896016,277.647224,277.578571,276.883742,...,270.949157,19.124904,13.575825,22.617785,-0.048007,-5952644.0,-126.352938,-49.494949,8.792671,0.53

In [45]:
print(stock_maximums)

{'HDFCBANK.NS': (150.800048828125, 111.29998779296875), 'AXISBANK.NS': (74.550048828125, 119.5), 'ICICIBANK.NS': (82.4000244140625, 61.70001220703125), 'KOTAKBANK.NS': (170.75, 164.0999755859375), 'SBIN.NS': (70.44999694824219, 32.5), 'INDUSINDBK.NS': (137.3499755859375, 143.3500366210937), 'BANDHANBNK.NS': (76.85000610351562, 113.0499877929687), 'FEDERALBNK.NS': (14.150001525878906, 12.80000305175782), 'PNB.NS': (63.850006103515625, 17.600006103515625), 'IDFCFIRSTB.NS': (5.69999694824218, 6.200000762939453), 'BANKBARODA.NS': (45.00000000000003, 22.150001525878906), 'AUBANK.NS': (60.20001220703125, 82.07501220703125)}