# Importing Libraries

In [53]:
import yfinance as yf
import pandas_ta as ta

# Making the Dataset

In [54]:
folder_path = 'data/stock_technical_data/'

In [55]:
# Bank Nifty Stock Symbols
bank_nifty_stock_symbols = [
    "HDFCBANK.NS",
    "AXISBANK.NS",
    "ICICIBANK.NS",
    "HDFCBANK.NS",
    "KOTAKBANK.NS",
    "SBIN.NS",
    "INDUSINDBK.NS",
    "BANDHANBNK.NS",
    "FEDERALBNK.NS",
    "PNB.NS",
    "IDFCFIRSTB.NS",
    "BANKBARODA.NS",
    "AUBANK.NS"
]

In [56]:
start_date = "2017-01-01"
end_date = "2022-12-31"

In [57]:
def make_dataset(stock_symbol, start_date, end_date):

    stock_df = yf.download(stock_symbol, start=start_date, end=end_date)

    # Simple Moving Average (SMA)
    stock_df["SMA_9"] = ta.sma(stock_df["Close"], length = 9)
    stock_df["SMA_21"] = ta.sma(stock_df["Close"], length = 21)

    # Exponential Moving Average (EMA)
    stock_df["EMA_9"] = ta.ema(stock_df["Close"], length = 9)
    stock_df["EMA_21"] = ta.ema(stock_df["Close"], length = 21)

    # Double Exponential Moving Average (DEMA)
    stock_df["DEMA_9"] = ta.dema(stock_df["Close"], length = 9)
    stock_df["DEMA_21"] = ta.dema(stock_df["Close"], length = 21)

    # Moving Average Convergence Divergence (MACD)
    stock_df["MACD_Line"] = ta.macd(stock_df["Close"])["MACD_12_26_9"]
    stock_df["MACD_Signal_Line"] = ta.macd(stock_df["Close"])["MACDs_12_26_9"]

    # Relative Strength Index (RSI)
    stock_df["RSI_14"] = ta.rsi(stock_df["Close"], length = 14) 

    # Stochastic Oscillator
    stoch = ta.stoch(stock_df['High'], stock_df['Low'], stock_df['Close'], k=14, d=3)
    stock_df["Stoch_Oscillator_K"] = stoch["STOCHk_14_3_3"]
    stock_df["Stoch_Oscillator_D"] = stoch["STOCHd_14_3_3"]

    # Bollinger Bands / Standard Deviation
    bollinger_bands = ta.bbands(stock_df["Close"], length = 20, std = 2)
    stock_df['BB_middle'] = bollinger_bands['BBM_20_2.0']
    stock_df['BB_upper'] = bollinger_bands['BBU_20_2.0']
    stock_df['BB_lower'] = bollinger_bands['BBL_20_2.0']

    # Average Directional Index (ADX)
    adx = ta.adx(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)
    stock_df['ADX'] = adx['ADX_14']
    stock_df['ADX+DI'] = adx['DMP_14'] 
    stock_df['ADX-DI'] = adx['DMN_14']

    # Parabolic Stop and Reverse (PSAR)
    psar = ta.psar(stock_df['High'], stock_df['Low'], stock_df['Close'])
    stock_df['PSAR'] = psar['PSARl_0.02_0.2']

    # Chaikin Money Flow (CMF)
    stock_df['CMF'] = ta.cmf(stock_df['High'], stock_df['Low'], stock_df['Close'], stock_df['Volume'], length = 21)

    # On Balance Volume (OBV)
    stock_df['OBV'] = ta.obv(stock_df['Close'], stock_df['Volume'])

    # Commodity Channel Index (CCI)
    stock_df['CCI'] = ta.cci(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 20)

    # Williams %R
    stock_df['Williams_%R'] = ta.willr(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)

    # Average True Range (ATR)
    stock_df['ATR'] = ta.atr(stock_df['High'], stock_df['Low'], stock_df['Close'], length = 14)

    return stock_df

In [58]:

for stock_symbol in bank_nifty_stock_symbols:
    stock_df = make_dataset(stock_symbol, start_date, end_date)
    print(stock_df.shape)
    stock_df.to_csv(f"{folder_path}{stock_symbol}.csv")
    print(f"Data for {stock_symbol} stored in {folder_path}{stock_symbol}.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for HDFCBANK.NS stored in data/stock_technical_data/HDFCBANK.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for AXISBANK.NS stored in data/stock_technical_data/AXISBANK.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for ICICIBANK.NS stored in data/stock_technical_data/ICICIBANK.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for HDFCBANK.NS stored in data/stock_technical_data/HDFCBANK.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for KOTAKBANK.NS stored in data/stock_technical_data/KOTAKBANK.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for SBIN.NS stored in data/stock_technical_data/SBIN.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for INDUSINDBK.NS stored in data/stock_technical_data/INDUSINDBK.NS.csv

[*********************100%***********************]  1 of 1 completed

(1178, 29)
Data for BANDHANBNK.NS stored in data/stock_technical_data/BANDHANBNK.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for FEDERALBNK.NS stored in data/stock_technical_data/FEDERALBNK.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for PNB.NS stored in data/stock_technical_data/PNB.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for IDFCFIRSTB.NS stored in data/stock_technical_data/IDFCFIRSTB.NS.csv

[*********************100%***********************]  1 of 1 completed

(1484, 29)
Data for BANKBARODA.NS stored in data/stock_technical_data/BANKBARODA.NS.csv

(1355, 29)
Data for AUBANK.NS stored in data/stock_technical_data/AUBANK.NS.csv

In [59]:
aubank_df = make_dataset("AUBANK.NS", start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [61]:
aubank_df.head()

,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,EMA_21,...,BB_lower,ADX,ADX+DI,ADX-DI,PSAR,CMF,OBV,CCI,Williams_%R,ATR
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-11,268.500000,287.325012,266.200012,283.625000,282.023346,28572624,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,28572624.0,NaN,NaN,NaN
2017-07-12,288.225006,321.350006,287.500000,314.774994,312.997467,35549156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,266.200012,NaN,64121780.0,NaN,NaN,NaN
2017-07-13,326.000000,349.475006,315.049988,345.575012,343.623535,43750394,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,266.200012,NaN,107872174.0,NaN,NaN,NaN
2017-07-14,348.899994,362.750000,280.549988,299.399994,297.709259,67296768,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,271.196512,NaN,40575406.0,NaN,NaN,NaN
2017-07-17,295.000000,306.850006,281.174988,298.049988,296.366882,23021580,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,278.520791,NaN,17553826.0,NaN,NaN,NaN

In [62]:
aubank_df.describe()

,Open,High,Low,Close,Adj Close,Volume,SMA_9,SMA_21,EMA_9,EMA_21,...,BB_lower,ADX,ADX+DI,ADX-DI,PSAR,CMF,OBV,CCI,Williams_%R,ATR
count,1355.000000,1355.000000,1355.000000,1355.000000,1355.000000,1.355000e+03,1347.000000,1335.000000,1347.000000,1335.000000,...,1336.000000,1328.000000,1341.000000,1341.000000,739.000000,1335.000000,1.355000e+03,1336.000000,1342.000000,1341.000000
mean,430.413322,438.241274,421.833469,430.017878,428.271012,1.769028e+06,429.705172,429.238452,429.712380,429.320999,...,392.547716,27.979974,21.226573,20.354704,404.657581,0.019021,6.259401e+07,21.357652,-44.833658,17.033593
std,140.180256,142.510278,137.538472,139.875776,139.556089,3.218745e+06,138.760488,136.829869,138.237417,135.665593,...,129.355492,10.737608,7.660815,8.011514,129.847306,0.167709,7.211204e+07,113.426342,27.009421,6.897520
min,190.000000,196.500000,183.000000,190.074997,189.362411,2.461000e+04,198.427780,206.785715,200.185417,214.670555,...,119.469471,10.782116,3.937697,2.616118,183.000000,-0.487426,-1.989554e+07,-351.556824,-100.000000,7.803421
25%,316.649994,322.450012,309.512512,317.125000,315.682220,4.954650e+05,317.986113,317.529763,317.250364,317.277248,...,287.566688,19.829498,15.702769,14.500794,300.016064,-0.104512,1.101430e+06,-65.991065,-67.139695,10.908416
50%,360.000000,366.500000,352.000000,359.524994,357.853394,1.113566e+06,356.719449,352.058331,356.543037,351.045779,...,334.549353,26.014522,20.602979,19.290568,339.953475,0.020570,3.251802e+07,30.696951,-41.422026,15.598055
75%,580.987488,591.237488,570.012512,580.774994,578.796936,2.074530e+06,578.556942,579.760122,580.215760,582.249277,...,531.197595,34.809767,26.146586,25.225020,536.069976,0.121374,1.292037e+08,104.572593,-21.760324,22.120444
max,717.000000,732.974976,711.500000,717.525024,714.835022,6.729677e+07,700.980550,689.083330,696.143318,679.502438,...,658.819359,62.939752,54.300496,49.483798,682.957500,0.532465,2.186475e+08,403.456521,0.000000,44.276451

In [64]:
aubank_df.isnull().sum()

Open                    0
High                    0
Low                     0
Close                   0
Adj Close               0
Volume                  0
SMA_9                   8
SMA_21                 20
EMA_9                   8
EMA_21                 20
DEMA_9                  8
DEMA_21                20
MACD_Line              25
MACD_Signal_Line       33
RSI_14                 14
Stoch_Oscillator_K     15
Stoch_Oscillator_D     17
BB_middle              19
BB_upper               19
BB_lower               19
ADX                    27
ADX+DI                 14
ADX-DI                 14
PSAR                  616
CMF                    20
OBV                     0
CCI                    19
Williams_%R            13
ATR                    14
dtype: int64